body, html{
    display: flex;
    background-color: black;
}
header{
    background-color: black;
    position: fixed;
    display: flex;
    width: 98%;
    height: 35px;
    flex-direction: row;
    border-bottom: 1px solid rgb(56,127,181);
    padding: 15px;
}
.whiteColor{
    color: white;
}