body, html{
    display: flex;
    background-color: black;
}
header{
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 15px;
    border-bottom: 1px solid rgb(56,127,181);
    height: 35px;
}

nav , nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color:yellowgreen
}

header img{
   width: 50px;
   height: 50px;
   background-color: aliceblue;
}

.navigation-menu{
    display: flex;
    flex-direction: row;
}

.navigation-menu li{
    margin: 5px 20px 7px 10px;
}
